@page
@model CalculatorBMI
@{
    ViewData["Title"] = "CalculatorBMI";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
       
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.Age"></label>
                <input asp-for="Input.Age" class="form-control" />
                <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Height"></label>
                <input asp-for="Input.Height" class="form-control" />
                <span asp-validation-for="Input.Height" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Weight"></label>
                <input asp-for="Input.Weight" class="form-control" />
                <span asp-validation-for="Input.Weight" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Show</button>
        </form>
    </div>
</div>

@section Scripts {

}
