@model FoodDiary.Repositories.Entities.ProductEntity;

@{
    ViewData["Title"] = "Add product to diary";
}
<h1>@ViewData["Title"]</h1>
<br />
<div>
    <h3>Enter weight values[g]</h3>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNew">
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="ProductName" class="form-label"></label>
                <input asp-for="ProductName" class="form-control">
                <span asp-validation-for="ProductName" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Kcal" class="form-label"></label>
                <input asp-for="Kcal" class="form-control">
                <span asp-validation-for="Kcal" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="form-label"></label>
                <input asp-for="Weight" class="form-control">
                <span asp-validation-for="Weight" class="text-danger">
                </span>
            </div>
            <button class="btn btn-dark">Add</button>
        </form>
    </div>
</div>