@model FoodDiary.Controllers.DiaryViewModel

@{
    ViewData["Title"] = "Products list";
}

<h1>@ViewData["Title"]</h1>
<br/>

<p>
    <a asp-controller="Products" asp-action="Index" asp-route-diaryId="">Add product to diary</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Kcal
        </th>
        <th>
            Waga produktu
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Diary)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Kcal</td>
            <td>@item.Weight</td>
        </tr>
    }
    </tbody>
</table>